.main-container{
    padding-left: 50px;
    padding-right: 90px;
}
.container{
display:grid;
height:550px;
background-color: #E5E5E5;;
grid-template-rows:repeat(3,1fr);
grid-template-columns:repeat(4,1fr) ;
row-gap: 10px;
column-gap: 10px;
}
.main-container h1{
    font-size: 30px;
    font-weight: 800;
}
.item{
 background-color:#D9D9D9;
}
.item1{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item6{
    grid-column-start:1;
    grid-column-end: 3;
   
}
.item7{
    grid-column-start:3;
    grid-column-end: 5;

}
 .container .item7 p{
    
   font-size: 30px;
   font-weight: 400; 
  position: absolute;
  z-index: 7;
  top: 560px;
  padding-left: 380px;
} 